

.main-btn
{
    background-color: coral;
}


.page-title-area 
{
    background-image:url("/public/assets/img/bg/page-title-bg.jpg");
}

.page-title-area{
    background-image:url("/public/assets/img/bg/page-title-bg.jpg");

}

.project-image-area
{
    background-image:url("/public/assets/img/shape/09.png");
}


.project-img
{

    visibility: "visible"; animation-delay: "0.2s"; animation-name: "fadeInUp2";
}



.widget-donate-box
{
    background-image:url("/public/assets/img/events/15.jpg");
}





.img-card
{
        width: 100%;
        
        object-fit: contain;
}

.slick-track 
{

    width:"460%";left:"-100%"
}

.col
{
    width:"100%";display:"inline-block"
}

.slick-slide
{
    width:"4.3478260869565215%"
}



/* login page */
.gradient-custom-2 {
    /* fallback for old browsers */
    background-image: url("/public/assets/img/goal/01.jpg");

    background-size:100% 100%;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #12cef0, #36d851, #74f069, #118302);
  
   
  }
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }
.login-section
{
    background-color: #eee;
}

.imgLogin
{
    width: 80%;

}

.goalPic
{
    width: 100%;
    height: 100%;
}


/*header */
header
{
  background-image: url("/public/assets/img/bg/07.png");
}

/*registration form */


.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }
  .card-registration .select-arrow {
    top: 13px;
  }

  .registration-form
  {
      background-image: url("/public/assets/img/bg/03.jpg");
  }