

.main-btn
{
    background-color: coral;
}


.page-title-area 
{
    background-image:url("/public/assets/img/bg/page-title-bg.jpg");
}

.page-title-area{
    background-image:url("/public/assets/img/bg/page-title-bg.jpg");

}

.project-image-area
{
    background-image:url("/public/assets/img/shape/09.png");
}


.project-img
{

    visibility: "visible"; animation-delay: "0.2s"; animation-name: "fadeInUp2";
}



.widget-donate-box
{
    background-image:url("/public/assets/img/events/15.jpg");
}





.img-card
{
        width: 100%;
        object-fit: contain;
}